<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Discord fake</title>
    {% endblock %}
</head>

<body>
    <div class="container">
        <header>
            <h1>{{ subject }}</h1>
        </header>

        <main>
            <p>{{ greeting }}</p>
            <p>{{ message }}</p>
            <p>{{ confirmation_code }}</p>
            <p>{{ expire }}</p>
        </main>

        <footer>
            This email send from<i>Discord api auth event gateway</i>.
        </footer>
    </div>
</body>

</html>